@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}
@section CSS {
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://getbootstrap.com/docs/5.3/examples/sign-in/sign-in.css" rel="stylesheet">
    <link href="~/css/LKStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .login-with-microsoft-btn {
            transition: background-color .3s, box-shadow .3s;
            padding: 12px 16px 12px 42px;
            border: none;
            border-radius: 3px;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
            color: #757575;
            font-size: 14px;
            font-weight: 500;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/25/Microsoft_icon.svg);
            background-size: 24px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: 12px 11px;
            width: 100%; 
        }

        .login-with-google-btn {
            transition: background-color .3s, box-shadow .3s;
            padding: 12px 16px 12px 42px;
            border: none;
            border-radius: 3px;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
            color: #757575;
            font-size: 14px;
            font-weight: 500;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
            background-color: white;
            background-repeat: no-repeat;
            background-position: 12px 11px;
            width: 100%; 
        }
         .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
    </style>
}

<div class="containerwidenopad">
    <header class="header">
        <nav class="navbarpercent">
            <img src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/image/content/Logo.png" alt="Pizza Planet" class="nav-logo" />
            <ul class="nav-menu-login">
                <li class="nav-item-login">
                   <span class="headermsg"> Don't have an account? </span>
                </li>
                <li class="nav-item-login">
                    
                    <a class="nav-link-login barelink loginbtn-login" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                       
                        Register
                    </a>
                </li>
            </ul>
          </nav>

    </header>
    <div class="stars"></div>
    <div class="containter-center">
    <div class="formwrapper">
    <h1 class="h3 mb-3 fw-normal bluebs">Please sign in</h1>
    <div class="formcontainer m-auto text-center">
@{
    
    <form id="account" method="post">
       <div class="errorcontainer">
        <div asp-validation-summary="ModelOnly" class="error" role="alert"></div>
        <span asp-validation-for="Input.Email" class="error"></span>
        <span class="error" asp-validation-for="Input.Password"></span>
      </div>
        <div class="form-floating mb-3">
            <input class="signin-input" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder=" " />
            <label class="signin-label" asp-for="Input.Email">Email</label>
           
        </div>
        <div class="form-floating">
                                  
          <div class="eye">
             <span role="button" title="veiw password" id="passBtn">
               <i class="fa fa-eye fa-fw loginicon" aria-hidden="true"></i>
                </span>
              </div>
            <input type="password" class="signin-input-pw" id="passInput" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder=" " />
            <label class="signin-label-pw" asp-for="Input.Password" class="form-label">Password</label>
        
        </div>
                                <div class="checkbox mb-3 paddingtop">
            <label asp-for="Input.RememberMe" class="white form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div>
         <button id="login-submit" type="submit" class="submitbutton">Sign in</button>
        </div>
      </form>
        <div class="white mt-3 mb-3 h5 fw-normal">or</div>
    if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal m-auto">
            <div>
                @foreach (var provider in Model.ExternalLogins!)
                {
                    if (provider.Name.Equals("Microsoft"))
                    {
                        <div class="form-floating mb-3">
                            <button type="submit" class="login-with-microsoft-btn" name="provider" value="Microsoft">Sign in with Microsoft</button>
                        </div>
                               
                    }
                    else if (provider.Name.Equals("Google"))
                    {
                        <div class="form-floating mb-3">
                            <button type="submit" class="login-with-google-btn" name="provider" value="Google">Sign in with Google</button>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating">
                            <div>Button @provider.Name is not supported</div>
                        </div>
                    }
                }
            </div>
        </form>
    }
}
    
</div>
                </div>

        </div>
        
        <footer id="footer">
        <small>Created By  <a href="https://github.com/gayanvoice/web-app" class="mt-5 footer">@@100638182 @@100123818@@100654780 @@100654780</a> For 2022-SPR-7CS095 Web Technologies</small>
        <p class="mt-3 mb-3 footer">Pizza Planet © 2023, University of Derby</p>
        </footer>
        

</div>
@*Script for password visibility*@
<script>
    const PassBtn = document.querySelector('#passBtn');
    PassBtn.addEventListener('click', () => {
        const input = document.querySelector('#passInput');
        input.getAttribute('type') === 'password' ? input.setAttribute('type', 'text') : input.setAttribute('type', 'password');

        if (input.getAttribute('type') === 'text') {
            PassBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
        } else {
            PassBtn.innerHTML = '<i class="fa fa-eye fa-fw" aria-hidden="true"></i>';
        }

    });
</script>
@section JS {
    <partial name="_ValidationScriptsPartial" />
}
