@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model web_app.Models.View.HomeViewModel.AddressViewModel
@{
    ViewData["Title"] = "Profile";
}
@section CSS{
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
}
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        <div class="container mt-4">
            <main>
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-4">
                            <span class="text-primary">Postcode</span>
                        </h4>

                        <form class="card p-2" asp-controller="Home" asp-action="Address" method="get">
                            <div class="input-group">
                                <input type="text" name="PostCode" class="form-control" placeholder="Post Code" value="@Model.Search.PostCode">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>

                        <div id="osm-map" class="mt-2 rounded-2"></div>
                    </div>

                    <div class="col-md-7 col-lg-8 order-md-last">
                        <h4 class="mb-3">Billing address</h4>
                       @* <form id="account" method="post" asp-controller="Home" asp-action="Address">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Form.HouseNumber" class="form-control" autocomplete="House Number" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Form.HouseNumber" class="form-label">Email</label>
                                <span asp-validation-for="Form.HouseNumber" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
 
                        </form>*@
                        <form class="needs-validation" novalidate="" asp-controller="Home" asp-action="Address" method="post">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label asp-for="Form.HouseNumber" class="form-label">House Number <span class="text-body-secondary">(Optional)</span></label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">#</span>
                                        <input asp-for="Form.HouseNumber" class="form-control" autocomplete="House Number" aria-required="true" />
                                    </div>
                                    <span asp-validation-for="Form.HouseNumber" class="form-label"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Form.Street" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.Street" class="form-control" autocomplete="Street" aria-required="true" />
                                    </div>
                                    <span asp-validation-for="Form.Street" class="form-label"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Form.PostCode" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.PostCode" class="form-control" autocomplete="Post Code" aria-required="true" readonly />
                                    </div>
                                    <span asp-validation-for="Form.PostCode" class="form-label"></span>
                                </div>

                               
                                <div class="col-6">
                                    <label asp-for="Form.Region" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.Region" class="form-control" autocomplete="Region" aria-required="true" readonly />
                                    </div>
                                    <span asp-validation-for="Form.Region" class="form-label"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Form.Country" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.Country" class="form-control" autocomplete="Country" aria-required="true" readonly />
                                    </div>
                                    <span asp-validation-for="Form.Country" class="form-label"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Form.Latitude" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.Latitude" class="form-control" autocomplete="Latitude" aria-required="true" readonly />
                                    </div>
                                    <span asp-validation-for="Form.Latitude" class="form-label"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Form.Longitude" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Form.Longitude" class="form-control" autocomplete="Logitude" aria-required="true" readonly />
                                    </div>
                                    <span asp-validation-for="Form.Longitude" class="form-label"></span>
                                </div>
                            </div>

                            <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}
@section JS{
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script>
        const element = document.getElementById('osm-map');
        element.style = 'height:400px';
        const map = L.map(element);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var target = L.latLng(@Model.Form.Latitude, @Model.Form.Longitude);

        map.setView(target, 18);
        setInterval(function () {
            map.invalidateSize();
        }, 100);

        L.marker(target).addTo(map);
    </script>
}