@model web_app.Models.View.Home.Index
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.AspNetUser.NormalizedUserName</h1>
    <p>User ID is @Model.AspNetUser.Id</p>
    <p>Your associated email is @Model.AspNetUser.Email</p>
    <a href="/Identity/Account/Logout">Logout</a>
</div>
<a href="https://github.com/gayanvoice/web-app" class="mt-5 text-body-secondary">gayanvoice/web-app @@ GitHub</a>
<p class="mb-3 text-body-secondary">Pizza Planet © 2023</p>

