@using Microsoft.AspNetCore.Identity
@using web_app.Models.Repository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model web_app.Models.View.HomeViewModel.PaymentViewModel
@{
    ViewData["Title"] = "Payment";
}
@section CSS{
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
}
<style>
    body {
        /*!!IMPORTANT forces grid display which stops headers & footers moving around*/
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;
        background: rgb(56,59,83) !important;
        background: radial-gradient(circle, rgba(56,59,83,1) 0%, rgba(0,0,0,1) 100%) !important;
    }

</style>
<div class="stars"></div>
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        @if (!string.IsNullOrEmpty(Context.Request.Query["Message"]))
        {
            <section class="h-100 h-custom" style="background-color: transparent;">
                <div class="container pt-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="alert alert-danger">@Context.Request.Query["Message"]</div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.AppCheckout is not null)
        {
            <section class="h-100 h-custom" style="background-color: transparent">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card bannerwide rounded">
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-lg-12">




                                            <div class="row">
                                                <div class="col-lg-12">

                                                    <div class="card" style="background-color: transparent; border: none">
                                                        <div class="card-body p-4">
                                                            <div class="col-lg-4 h5 mb-3 bsblueh1pmnt">
                                                                Payment
                                                            </div>
                                                            <form class="needs-validation" asp-controller="Home" asp-action="ProcessPayment" method="post">
                                                                <div class="row">
                                                                    <div class="col-md-12 mb-3">
                                                                        <label asp-for="Form.PaymentMethod" class="form-label white">Payment Method</label>
                                                                        <div class="custom-select">
                                                                        <select asp-for="Form.PaymentMethod">
                                                                            <option value="">Choose Payment Method</option>
                                                                            <option>Card</option>
                                                                            <option>Cash</option>
                                                                         </select>
                                                                        </div>
                                                                        <span asp-validation-for="Form.PaymentMethod" class="form-label white"></span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label asp-for="Form.Comment" class="form-label white">Comment (Optional)</label>
                                                                        <input asp-for="Form.Comment" class="form-control">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <button class="w-100 btn btn-primary btn-lg mt-4 searchbtnblue" style="margin-top: 35px !important" type="submit">Complete Order</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        @*           <div class="card-body p-4">
                                            <div class="row">
                                            @if (Model.AppCheckout.DeliveryMethod.Equals("DELIVERY"))
                                            {
                                            <div style="align-content: center; text-align: center">

                                            <a asp-controller="Home" asp-action="Order" class="barelink redpillcnt">Order</a>

                                            </div>
                                            }
                                            else if (Model.AppCheckout.DeliveryMethod.Equals("PICK"))
                                            {
                                            <div style="align-content: center; text-align: center">

                                            <a asp-controller="Home" asp-action="Order" class="barelink redpillcnt">Order</a>

                                            </div>
                                            }
                                            else if (Model.AppCheckout.DeliveryMethod.Equals("DINE"))
                                            {
                                            <div style="align-content: center; text-align: center">

                                            <a asp-controller="Home" asp-action="Order" class="barelink redpillcnt">Order</a>

                                            </div>
                                            }
                                            else
                                            {
                                            <div style="align-content: center; text-align: center; background-color: transparent">
                                            <div class="h5 text-xl-start">
                                            Error
                                            </div>
                                            </div>
                                            }
                                            </div>
                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        }
        else
        {
            <section class="h-100 h-custom" style="background-color: transparent;">
                <div class="container pb-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="h5 text-xl-start">
                                                Go to <a asp-controller="Home" asp-action="Checkout" class="text-body">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}
<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      ll = selElmnt.length;
      /*for each element, create a new DIV that will act as the selected item:*/
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /*for each element, create a new DIV that will contain the option list:*/
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < ll; j++) {
        /*for each option in the original select element,
        create a new DIV that will act as an option item:*/
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /*when an item is clicked, update the original select box,
            and the selected item:*/
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
          /*when the select box is clicked, close any other select boxes,
          and open/close the current select box:*/
          e.stopPropagation();
          closeAllSelect(this);
          this.nextSibling.classList.toggle("select-hide");
          this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
      /*a function that will close all select boxes in the document,
      except the current select box:*/
      var x, y, i, xl, yl, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      xl = x.length;
      yl = y.length;
      for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
</script>