@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
        {
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                    <p class="col-md-4 mb-0 text-muted">Pizza Planet © 2023, University of Derby</p>
                   
                    <a href="https://github.com/gayanvoice/pizza-planet-web-app"
                       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <small>@@100638182 @@100123818@@100654780 @@100654780</small>
                   </a>

                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a asp-controller="Home" asp-action="Account" class="nav-link px-2 text-muted">User ID @Model.AspNetUser.Id</a></li>
                    </ul>
                </footer>
            </div>
        }
}
</ul>
