@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <nav class="navbar bg-body-tertiary border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/image/shared/logo.png"
                         height="64" /></a>
                <div class="d-flex">
                    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
               asp-controller="Home" asp-action="Checkout">
                        Checkout
                    </a>
                    <span class="m-3"></span>
                    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    asp-controller="Home" asp-action="Account">
                        @Model.AspNetUser.Email
                    </a>
                    <span class="m-3"></span>
                    <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                       Sign Out
                    </a>
                    <span class="m-3"></span>
                </div>
            </div>
        </nav>
    }
}
