<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/css/bootstrap-icons-1.10.3.css">
    <link rel="stylesheet" href="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/css/bootstrap.min-5.3.css">
    <link rel="stylesheet" href="~/css/LKStyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    @await RenderSectionAsync("CSS", required: false)
    @await RenderSectionAsync("SVG", required: false)
</head>
<body>
    @RenderBody()
    <script src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/js/jquery.min-3.6.3.js" type="text/javascript"></script>
    <script src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/js/popper.min-1.14.7.js" type="text/javascript"></script>
    <script src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/js/bootstrap.bundle.min-5.3.js" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("JS", required: false)
</body>
</html>
